<div class="notice-bar">
  <notice-bar *ngIf="showAdv">
    本程序由杨明明开发自用，如有朋友需要，可以联系我哦！
  </notice-bar>
  <div class="avatar-list">
    <div class="info">嘉宾({{fuyues.length}})</div>
    <img [lazyload]="user.avatar" *ngFor="let user of fuyues" />
  </div>
</div>
<dialog *ngIf="showFuyue" [(model)]="fuyueForm" (onCancel)="cancelFuyue($event)"></dialog>
<div mnFullpage [mnFullpageAfterLoad]="cfg.mnFullpageAfterLoad">
  <div *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [nowIndex]="nowIndex$" [lazyBackground]="i" class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell"></div>
  </div>
</div>
<danmu-item (onCenter)="onCenter($event)" (onNext)="createNextComponents($event)" [len]="item.content.length" [isnew]="item?.isnew" [item]="item" [avatar]="item.avatar" *ngFor="let item of components">
  {{item.content}}
</danmu-item>
<div class="footer" #footer>
  <div class="footer-wrap">
    <div class="footer-cancel" *ngIf="!hasFuyue" [class.active]="hasFuyue">
      <span *ngIf="!showFuyue" (click)="doFuyue()">赴约</span>
      <span *ngIf="showFuyue" (click)="confirmFuyue()">确定</span>
    </div>
    <div class="footer-input">
      <input type="text" #send placeholder="请输入祝福语言">
    </div>
    <div class="footer-send" (click)="doSend()">
      祝福
    </div>
  </div>
</div>
<div class="audio-control" (click)="switchPlay()">
  <audio style="display: none;" #audio loop autoplay>
    <source [src]="_audioRandom" type="audio/mpeg" />
  </audio>
  <img src="../addons/meepo_hunli/template/mobile/assets/images/music.png" alt="">
</div>
<div class="main-info">
  <p>地址： 安阳市滑县万古镇棘马林村</p>
  <p>电话：
    <a href="tel:13140415408">13140415408</a>
  </p>
  <p>时间：农历22，阳历2月7号！</p>
</div>