    @import "~normalize.css";
    @import "~weui";
    body,
    html,
    app-root {
        display: block;
        height: 100%;
        overflow: hidden;
    }

    .audio-control {
        position: fixed;
        top: 50px;
        right: 10px;
        z-index: 10;
        background: rgba(0, 0, 0, .8);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        animation: rotate .8s;
        animation-iteration-count: 9999;
        overflow: hidden;
        img {
            width: 50px;
            height: 50px;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(90deg);
        }
    }